.links-grid {
  display: flex;
  justify-content: flex-start;

  flex: 1 0 auto;

  width: 100%;
}

.search-list {
  position: relative;
  z-index: 0;

  width: 100%;

  li {
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 10px;

    width: 320px;
  }

  img {
    width: 300px;
  }

  a {
    h3 {
      color: $foreground;

      margin: 0 0 5px 0;
      padding: 0;
    }
  }

  .footer {
    background-color: $accent;
    color: $background;

    margin: -5px 0 0 0;
    padding: 10px;

    overflow-x: hidden;

    .bottom {
      padding-top: 5px;

      display: flex;
      justify-content: space-between;

      div {
        font-size: 10px;
      }

      .admin-edit {
        cursor: pointer;
        white-space: nowrap;
        user-select: none;
      }
    }
  }

  .tags {
    max-width: 200px;
    text-align: right;

    div {
      display: inline-block;
      cursor: pointer;

      user-select: none;
    }
  }
}

.search-message {
  align-self: center;
  width: 350px;
}

.source {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 204.77px;
  height: 80px;

  border-radius: 50%;
  background-color: $foreground;

  .source-option {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 102.38px;
    height: 80px;

    padding-top: 35px;

    background-color: $foreground;
    color: $accent;

    cursor: pointer;
    user-select: none;
  }

  .source-option.left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .source-option.right {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .source-option.active {
    background-color: $accent;
    color: $foreground;
  }
}
