html,
body,
#app,
div,
ul {
  margin: 0;
  padding: 0;

  font-family: 'Arvo', serif;
}

html,
body,
#app,
.wrapper {
  height: 100%;
}

html,
body {
  background-color: $background;
}

.wrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}
