.bar {
  flex: 1;

  background-color: $foreground;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 65px;
  max-height: 65px;
  min-height: 65px;

  .ui.secondary.menu .item {
    color: $accent;
  }

  .menu {
    padding: 15px 0 0 5px;

    .active {
      background-color: $accent !important;
      color: $foreground !important;
      font-weight: bold !important;
    }
  }

  .icon {
    margin: 10px 15px;
    width: 300px;
  }
}
