.bar {
  background-color: $header;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    padding: 15px 0 0 5px;

    .active {
      background-color: $davysgrey !important;
      color: $header !important;
      font-weight: bold !important;
    }
  }

  .icon {
    margin: 10px 15px;
    width: 300px;
  }
}