.page-footer {
  flex-shrink: 0;

  height: 35px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $foreground;
  color: $accent;

  div {
    margin: 5px;

    a {
      color: $foreground;
    }
  }
}
