<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Schwankie.com is the mind palace of Josh Gretz. It contains the constantly growing links, I find from my journeys across the web.">
  <meta name="keywords" content="schwankie, josh gretz, gretz, mind palace, schwankie.com">
  <meta name="google-site-verification" content="2yR4tmVfC_6I_KINLxRfTt84GpL8d42uIehoFpPzD2U" />

  <title>Schwankie.com</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet">
</head>
<body>
  <div id="app"></div>
</body>
</html>
